/* header{
    background-color:#fffbf0;
}

.head-text h1{
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
}

header{
    height: 500px;
}
.head-text h1:first-child{
    color: #fabe4c;
}

.head-text h1:nth-child(2){
    color: #363958;
}

.btn-ss{
    color: white;
    font-weight: bold;
    background-color: #99b236;
    padding: 15px 30px;
    border-radius: 10px;
}

.custom-nav{
    display: flex;
    right: 0;
}
 */
